.about-page {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 4rem 1.25rem;
}

/* General section styling */
.about-page section {
  margin-top: 5rem;
}

.about-page h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.about-page h2::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1rem;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* About content */
.about-content {
  display: flex;
  gap: 12rem;
}

.about-text {
  flex: 2;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

/* Experience section */
.job-entry {
  display: flex;
  margin-bottom: 6rem;
  gap: 6rem;
}

.job-info {
  flex: 1;
  margin-top: 1rem;
}

.job-description {
  flex: 2;
  font-size: 1.125rem;
  line-height: 1.8rem;
}

.job-info h3 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0 0 0.5rem 0;
}

.job-duration {
  display: block;
  font-size: 1rem;
  color: var(--color-text-secondary);
  margin-bottom: 0.5rem;
}

/* Clients section */
.clients-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem;
}

.clients-intro {
  flex: 0 0 40%;
  font-size: 1.2rem;
  line-height: 1.5;
}

.clients-list {
  flex: 0 0 50%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clients-list li {
  font-size: 3rem;
  font-weight: regular;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.clients-list li:last-child {
  font-size: 1.5rem;
  font-weight: normal;
  opacity: 0.7;
}
