.container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    margin-top: 60px;
    margin-bottom: 80px;
    /* Remove this line: overflow: hidden; */
  }
  
  .full-width-image {
    width: 100%;
    margin-top: 80px; 
  }
  
  .full-width-image img {
    width: 100%;
    height: auto;
    display: block;
  }

.cta-button-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}

.cta-button {
  background-color: #1C1C1C;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #333;
}