.workPage {
  background-color: var(--color-background-light);
  color: var(--color-text-dark);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 20px; 
}

.work-content {
  flex: 1;
  padding: 5rem 0;
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
}

.work-title {
  font-size: 4rem;
  font-weight: normal;
  margin-top: 2.5rem;
  max-width: 37.5rem;
}

.work-subtitle {
  font-size: 4rem;
  font-weight: normal;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 2.5rem;
}

.workPage a {
  color: var(--color-text-light);
}

.workPage a:hover {
  opacity: 0.7;
}

@media (max-width: 64rem) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 48rem) {
  .work-content {
    padding: 3.75rem 1rem;
  }

  .work-title {
    font-size: 3rem;
    margin-top: 8rem;
    margin-bottom: 0;
  }

  .work-subtitle {
    margin-top: 0;
  }

  .project-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 2rem;
  }
}

@media (max-width: 30rem) {
  .work-content {
    padding: 2.5rem 1rem;
  }

  .work-title {
    font-size: 3rem;
    letter-spacing: -0.02em;
    margin-top: 4rem;
    margin-bottom: 0;
  }

  .work-subtitle {
    font-size: 3rem;
    letter-spacing: -0.02em;
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .project-grid {
    gap: 0.75rem;
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .workPage {
    padding: 0 40px; /* Increase padding for larger screens */
  }
}

@media (min-width: 1400px) {
  .workPage {
    padding: 0 20px; /* Maintain 20px padding at 1400px and above */
  }
  
  .work-content {
    max-width: calc(var(--max-width) - 40px); /* Adjust max-width to account for padding */
  }
}
