.header-dark {
    background-color: var(--color-background);
    color: var(--color-text);
  }
  
  .header-light {
    background-color: var(--color-background-light);
    color: var(--color-text-light);
  }


.header {
    background-color: var(--color-background);
    padding: 20px 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
}

.logo {
    color: var(--color-text);
    font-size: 18px;
    text-decoration: none;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: var(--color-text);
    font-size: 18px;
    text-decoration: none;
}

nav a.active {
    position: relative;
}

nav a.active::after {
    content: '•';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
